<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon32x32.png">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <header class="header">
      <h1><%= title %></h1>
    </header>
    <div class="app" id="app">
      <div class="app_input">
        <div class="option">
          <div class="option_box">
            <label class="option_title" for="text">Text:</label>
            <input type="text" v-model="text" id="text">
          </div>
          <div class="option_box">
            <label class="option_title" for="scale_fontSize">Text size:</label>
            <input type="number" id="scale_fontSize" v-model="scale.fontSize">
          </div>
          <div class="option_box">
            <label class="option_title" for="scale_width">Width:</label>
            <input type="number" id="scale_width" v-model="scale.width">
          </div>
          <div class="option_box">
            <label class="option_title" for="scale_height">Height:</label>
            <input type="number" id="scale_height" v-model="scale.height">
          </div>
          <div class="option_box">
            <span class="option_title">Type:</span>
            <label for="type_square">
              <input type="radio" id="type_square" value="square" v-model="type"> square
            </label>
            <label for="type_round">
              <input type="radio" id="type_round" value="round" v-model="type"> round
            </label>
          </div>
          <div class="option_box">
            <span class="option_title">Text color:</span>
            <label for="text_color_black">
              <input type="radio" id="text_color_black" value="black" v-model="textColor"> black
            </label>
            <label for="text_color_white">
              <input type="radio" id="text_color_white" value="white" v-model="textColor"> white
            </label>
          </div>
          <div class="option_box">
            <span class="option_title">Background color:</span>
            <label for="background_color_black">
              <input type="radio" id="background_color_black" value="black" v-model="backgroundColor"> black
            </label>
            <label for="background_color_white">
              <input type="radio" id="background_color_white" value="white" v-model="backgroundColor"> white
            </label>
          </div>
        </div>
        <button class="app_input_button" v-if="!download" @click="getImageData">Donwload</button>
        <button class="app_input_button" v-else disabled>Generating...</button>
      </div>

      <div class="app_output">
        <p class="app_output_title">Preview: </p>
        <div class="app_output_canvas">
          <div class="preview" :data-type="type" :data-text-color="textColor" :data-background-color="backgroundColor" id="preview">
            <div class="preview_background" :style="{ width: scale.width + 'px', height: scale.height + 'px' }" id="preview-background">
              <div class="preview_text" :style="{ fontSize: scale.fontSize + 'px' }" id="preview-text">{{ text }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/javascripts/lib/vue.min.js"></script>
  <script src="/javascripts/lib/axios.min.js"></script>
  <script src="/javascripts/lib/html2canvas.min.js"></script>
  <script src="/javascripts/app.js"></script>
</html>
